.navbar {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 12px;
  padding-top: 12px;
  padding-bottom: 12px;

  &__wrap {
    grid-column: span 3;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
  }
}

